<table class="inventory">
    <tr>
        <td><img src="/fruits/acorn_squash.png" alt="Acorn Squash Image"></td>
        <td>Acorn Squash</td>
        <td><button type="button" (click)="add($event)">ADD</button></td>
    </tr>
    <tr>
        <td><img src="/fruits/apple.png" alt="Apple Image"></td>
        <td>Apple</td>
        <td><button type="button" (click)="add($event)">ADD</button></td>
    </tr>
    <tr>
        <td><img src="/fruits/bell_pepper.png" alt="Bell Pepper Image"></td>
        <td>Bell Pepper</td>
        <td><button type="button" (click)="add($event)">ADD</button></td>
    </tr>
    <tr>
        <td><img src="/fruits/blueberries.png" alt="Blueberries Image"></td>
        <td>Blueberries</td>
        <td><button type="button" (click)="add($event)">ADD</button></td>
    </tr>
</table>